@import "tailwindcss";
@plugin "daisyui";


@theme{
    --color-custom: #d1d5db;
    --font-roboto: "Roboto", sans-serif;
}

@layer base{
    body{
        @apply font-roboto;
    }

    p{
        @apply text-lg font-normal;
    }
}
@layer components{
    .hero-section{
        @apply bg-[var(--color-custom)] flex flex-row-reverse w-full justify-between items-center gap-x-20
    }
    .hero-img{
        @apply w-1/2;
    }
    .hero-img img{
        @apply w-fit h-[548px] p-10 mx-auto;
    }
    .hero-text{
        @apply w-1/2 p-10;
    }
}

@layer utilities{
    .btn-custom {
        @apply px-4 py-1.5 bg-[#059669] rounded-md text-white text-lg md:text-xs lg:text-lg font-bold;
    }
    .btn-custom:hover{
        @apply bg-[#056e4d]
    }
}